.inline-block {
    display: inline-block;
}

body {
    background-image: url(images/background1.jpg);
    background-size: 100% 200%
}

a {
    font-size: 20px;
    font-family: fantasy;
    float: left;
    color: darkorange;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    
}

a:hover {
    background-color: orange;
    color: #5555FF;
}

h2 {
    font-family: fantasy;
    color: darkorange;
    border-bottom: solid;
    border-bottom-color: black;
}

table {
    padding: 5px 5px;
}

label {
    font-size: 20px;
    font-family: fantasy;
    float: left;
    color: darkorange;
    padding: 40px 50px;
    text-decoration: none;    
}

li {
    font-family: fantasy;
    padding: 5px;
}

#email {
    font-size: 20px;
    font-family: fantasy;
    float: left;
    color: black;
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
}

#phone {
    font-size: 20px;
    font-family: fantasy;
    float: left;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}